{{> layout/header}}

<div class="container mt-4" style="max-width:600px;">
    {{#experiment}}
    <h2 class="mb-3">실험 #{{id}}</h2>

    <table class="table">
        <tbody>
        <tr><th class="table-light" style="width:40%;">날짜/시간</th><td>{{createdAt}}</td></tr>
        <tr><th class="table-light">알고리즘</th><td>{{algorithm}}</td></tr>
        <tr><th class="table-light">옵티마이저</th><td>{{optimizer}}</td></tr>
        <tr><th class="table-light">epochs</th><td>{{epochs}}</td></tr>
        <tr><th class="table-light">batchSize</th><td>{{batchSize}}</td></tr>
        <tr><th class="table-light">learningRate</th><td>{{learningRate}}</td></tr>
        <tr><th class="table-light">정확도(accuracy)</th><td>{{accuracy}}</td></tr>
        <tr><th class="table-light">손실률(loss)</th><td>{{loss}}</td></tr>
        <tr><th class="table-light">메모</th><td>{{memo}}</td></tr>
        <tr><th class="table-light">태그</th><td>{{tag}}</td></tr>
        </tbody>
    </table>

    <a href="/experiments" class="btn btn-secondary">목록으로</a>
    <a href="/experiments/{{id}}/edit" class="btn btn-warning">수정</a>
    {{/experiment}}
</div>

{{> layout/footer}}
